<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938340211910-jn1u4qf3aipc4s2tl7ldk73eti88ljbm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938340211910-jn1u4qf3aipc4s2tl7ldk73eti88ljbm</string>
	<key>API_KEY</key>
	<string>AIzaSyAUAafSX55-moYYyuPCl-g-1ejU3KmZXg4</string>
	<key>GCM_SENDER_ID</key>
	<string>938340211910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flipgrid</string>
	<key>PROJECT_ID</key>
	<string>fungible-rewards</string>
	<key>STORAGE_BUCKET</key>
	<string>fungible-rewards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938340211910:ios:56c8e4f946047c540f4bc7</string>
</dict>
</plist>